{% extends 'base.html' %}

{% block content %}
{% load static %} <!-- images -->
<style type="text/css">

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="username"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .h3{
        text-align: center;
    }
    
</style>
    
<form action= "play/" id= "formPlay" class="form-signin" method="post">
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Play</h1>

  <input type="text" name="score" id="playerscards" class="form-control" placeholder="Score" required 
  readonly="readonly">
  
  <button id="btn1" class="btn btn-lg btn-primary btn-block" type="submit" onclick="dealcard()">Play</button>

</form>

<!--
<p>{{ score_form }}</p>

<form method='GET'>
    <input id="price_to" value="0" readonly="readonly">
    <button type='submit' name='mybtn2' value='{{ random_int | random }}'> sort me</button>
</form>

<p>{{ random_int }}</p>

<p>{{ random_int | random }}</p>

Player 1 cards: <input type="text" id="playerscards" readonly="readonly">
<br />
<button id="btn1" onclick="dealcard()">Deal</button>
-->
<img src="{% static 'images/yo.png' %}">

<script src="{% static 'js/score.js' %}"></script>

{% endblock content %}

